#cookiebar {
	display: none;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999999;
}

#cookiebar-inner {
	background-color: #333;
	margin: auto;
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
}
	
#cookiebar-inner > p {
	color: white;
}

#cookiebar.display {
  display: block;

  /* Cross browser animation */
  -webkit-animation: cookiebar 1s 1; /* Chrome, Safari 5+ */
     -moz-animation: cookiebar 1s 1; /* Firefox 5-15 */
      -ms-animation: cookiebar 1s 1; /* IE9 */
       -o-animation: cookiebar 1s 1; /* Opera 12.00 */
          animation: cookiebar 1s 1; /* Chrome, Firefox 16+, IE 10+, Opera 12.10+ */
}

@keyframes cookiebar {
  0%   {
    -webkit-transform: translate3d(0,-100px,0); /* Safari & Chrome */
       -moz-transform: translate3d(0,-100px,0); /* Firefox */
        -ms-transform: translate3d(0,-100px,0); /* IE9 */
         -o-transform: translate3d(0,-100px,0); /* Opera */
            transform: translate3d(0,-100px,0);
  }
  100% {
    -webkit-transform: translate3d(0,0,0); /* Safari & Chrome */
       -moz-transform: translate3d(0,0,0); /* Firefox */
        -ms-transform: translate3d(0,0,0); /* IE9 */
         -o-transform: translate3d(0,0,0); /* Opera */
            transform: translate3d(0,0,0);
  }
}
@-webkit-keyframes cookiebar {
  0%   {
    -webkit-transform: translate3d(0,-100px,0); /* Safari & Chrome */
       -moz-transform: translate3d(0,-100px,0); /* Firefox */
        -ms-transform: translate3d(0,-100px,0); /* IE9 */
         -o-transform: translate3d(0,-100px,0); /* Opera */
            transform: translate3d(0,-100px,0);
  }
  100% {
    -webkit-transform: translate3d(0,0,0); /* Safari & Chrome */
       -moz-transform: translate3d(0,0,0); /* Firefox */
        -ms-transform: translate3d(0,0,0); /* IE9 */
         -o-transform: translate3d(0,0,0); /* Opera */
            transform: translate3d(0,0,0);
  }
}
@-moz-keyframes cookiebar {
  0%   {
    -webkit-transform: translate3d(0,-100px,0); /* Safari & Chrome */
       -moz-transform: translate3d(0,-100px,0); /* Firefox */
        -ms-transform: translate3d(0,-100px,0); /* IE9 */
         -o-transform: translate3d(0,-100px,0); /* Opera */
            transform: translate3d(0,-100px,0);
  }
  100% {
    -webkit-transform: translate3d(0,0,0); /* Safari & Chrome */
       -moz-transform: translate3d(0,0,0); /* Firefox */
        -ms-transform: translate3d(0,0,0); /* IE9 */
         -o-transform: translate3d(0,0,0); /* Opera */
            transform: translate3d(0,0,0);
  }
}
@-o-keyframes cookiebar {
  0%   {
    -webkit-transform: translate3d(0,-100px,0); /* Safari & Chrome */
       -moz-transform: translate3d(0,-100px,0); /* Firefox */
        -ms-transform: translate3d(0,-100px,0); /* IE9 */
         -o-transform: translate3d(0,-100px,0); /* Opera */
            transform: translate3d(0,-100px,0);
  }
  100% {
    -webkit-transform: translate3d(0,0,0); /* Safari & Chrome */
       -moz-transform: translate3d(0,0,0); /* Firefox */
        -ms-transform: translate3d(0,0,0); /* IE9 */
         -o-transform: translate3d(0,0,0); /* Opera */
            transform: translate3d(0,0,0);
  }
}

#close-cookies {
	background: none;
	color: white;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
